@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('variables.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fondo);
    font-family: 'Fira Sans', sans-serif;
}

header{
    text-align: center;
    margin: 1.5rem auto;
    color: var(--color-titulo);
    font-weight: 700;
}

main{
    width: 90%;
    margin: 1rem auto;
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--fondo-main);
    box-shadow: 0 5px var(--sombra-main);
    border-radius: 1rem;
}

.pantalla{
    width: 100%;
    padding: 10px;
    text-align: end;
    font-size: 2rem;
    background-color: var(--fondo-pantalla);
    color: var(--color-botones);
    margin: 15px 0;
    font-weight: 400;
    box-shadow: 0 -2px var(--sombra-botones) inset;
}

input{
    font-size: 1.5rem;
    padding: 8px 4px;
    border-radius: 12px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    color: var(--color-botones);
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin: 10px 0;
}

.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.num{
    background-color: var(--fondo-botones);
    box-shadow: 0 5px var(--sombra-botones);
    color: var(--color-botones);
}

.borrar{
    background-color: var(--fondo-borrar);
    box-shadow: 0 5px var(--sombra-borrar);
}

.resultado{
    background-color: var(--fondo-resultado);
    box-shadow: 0 5px var(--sombra-resultado);
}

.memoria{
    background-color: var(--fondo-memoria);
    box-shadow: 0 5px var(--sombra-memoria);
}

.num:active{
    background-color: var(--sombra-botones);
}

.borrar:active{
    background-color: var(--sombra-borrar);
}

.resultado:active{
    background-color: var(--sombra-resultado);
}

.memoria:active{
    background-color: var(--sombra-memoria);
}

@media screen and (min-width: 1200px) {
    main{
        width: 30%;
    }
}