:root{
    --fondo: hsl(222, 26%, 31%);
    --fondo-main: hsl(223, 31%, 20%);
    --fondo-botones: hsl(225, 21%, 49%);
    --fondo-pantalla: hsl(224, 36%, 15%);
    --fondo-memoria: hsl(224, 45%, 34%);
    --fondo-resultado: hsl(290, 72%, 28%);
    --fondo-borrar: hsl(6, 63%, 50%);
    --color-titulo: hsl(44, 11%, 81%);
    --color-botones: hsl(44, 11%, 81%);
    --sombra-botones: hsl(224, 28%, 35%);
    --sombra-pantalla: hsl(224, 36%, 15%);
    --sombra-main: hsl(222, 38%, 29%);
    --sombra-memoria: hsl(223, 35%, 30%); 
    --sombra-borrar: hsl(6, 70%, 34%);
    --sombra-resultado:  hsl(289, 47%, 20%);
}